body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

li {
    margin-bottom: 10px;
}

img {
    border-radius: 10%;
}

#meal-image {
    border-radius: 10%;
    width: 10%;
    display: inline-block;
}

